<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rzm.testapplication">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- argus_apm需要申请如下权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestApplication">
        <activity
            android:name=".web_socket.WebSocketActivity"
            android:exported="false" />
        <activity
            android:name=".kotllincoroutine.CoroutineKotlinActivity"
            android:exported="false" />
        <activity
            android:name=".startup.alpha.AlphaActivity"
            android:exported="false" />
        <activity
            android:name=".android_api.fps.FpsActivity"
            android:exported="false" />
        <activity
            android:name=".dokit.DokitActivity"
            android:exported="false" />
        <activity
            android:name=".anr.bitmapcanary.BitmapCanaryActivity"
            android:exported="false" />
        <activity
            android:name=".android_api.view.view_click.ViewClickActivity"
            android:exported="false" />
        <activity
            android:name=".android_api.view.view_exposure.ViewExposureActivity"
            android:exported="false" />
        <activity
            android:name=".android_api.windowInsets.WindowInsetsActivity"
            android:exported="false" />
        <activity
            android:name=".argusapm.ArgusApmActivity"
            android:exported="false" />
        <activity
            android:name=".oom.OOMActivity"
            android:exported="false" />
        <activity
            android:name=".anr.anrmonitor.AnrMonitorActivity"
            android:exported="false" />
        <activity
            android:name=".anr.anrwatchdog.AnrWatchDogActivity"
            android:exported="false" />
        <activity
            android:name=".anr.AnrActivity"
            android:exported="false" />
        <activity
            android:name=".oom.koom.KoomActivity"
            android:exported="false" />
        <activity
            android:name=".anr.blockcanary.BlockCanaryActivity"
            android:exported="false" />
        <activity
            android:name=".startup.StartupActivity"
            android:exported="false" />
        <activity
            android:name=".android_api.DialogActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.LinkedHashMapActivity"
            android:exported="false" />
        <activity
            android:name=".android_api.ArrayMapActivity"
            android:exported="false" />

        <service
            android:name=".android_api.wms.FloatingService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".android_api.wms.WindowManagerServiceActivity"
            android:exported="false" />

        <service
            android:name=".android_api.ams.TestService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".android_api.ams.ActivityManagerServiceActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.DynamicProxyActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.ReflectionActivity"
            android:exported="false" />
        <activity
            android:name=".android_api.databinding.DatabindingActivity"
            android:configChanges=""
            android:exported="false" />
        <activity
            android:name=".android_api.livedata.LiveDataActivity"
            android:exported="false" />
        <activity
            android:name=".android_api.viewmodel.ViewModelActivity"
            android:exported="false" />
        <activity
            android:name=".android_api.TestAndroidApiActivity"
            android:exported="false" />
        <activity
            android:name=".android_api.LifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.SemaphoreActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.CyclicBarrierActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.CountDownLatchActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.ReentrantLockActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.LinkedBlockingQueueActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.CopyOnWritArrayListActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.ThreadLocalActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.TestFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".oom.leakcanary.LeakCanaryActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.LinkedListActivity"
            android:exported="false" />
        <activity
            android:name=".android_api.SparseArrayActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.HashMapActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.ArrayListActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.TestJavaApiActivity"
            android:exported="false" />
        <activity
            android:name=".router.arouter.ARouterActivity2"
            android:exported="false" />
        <activity
            android:name=".router.arouter.ARouterActivity"
            android:exported="false" />
        <activity
            android:name=".net.retrofit.RetrofitActivity"
            android:exported="false" />
        <activity
            android:name=".glide.GlideActivity"
            android:exported="false" />
        <activity
            android:name=".net.okhttp.OkHttpActivity"
            android:exported="false" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.argusapm.android.core.storage.ApmProvider"
            android:authorities="com.rzm.testapplication.apm.storage"
            android:exported="false" />
    </application>

</manifest>