<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rzm.testapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestApplication">
        <activity
            android:name=".java_api.SemaphoreActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.CyclicBarrierActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.CountDownLatchActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.ReentrantLockActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.LinkedBlockingQueueActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.CopyOnWritArrayListActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.ThreadLocalActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.TestFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".leakcanary.LeakCanaryActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.LinkedListActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.SparseArrayActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.HashMapActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.ArrayListActivity"
            android:exported="false" />
        <activity
            android:name=".java_api.TestJavaApiActivity"
            android:exported="false" />
        <activity
            android:name=".arouter.ARouterActivity2"
            android:exported="false" />
        <activity
            android:name=".arouter.ARouterActivity"
            android:exported="false" />
        <activity
            android:name=".retrofit.RetrofitActivity"
            android:exported="false" />
        <activity
            android:name=".glide.GlideActivity"
            android:exported="false" />
        <activity
            android:name=".okhttp.OkHttpActivity"
            android:exported="false" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>